doctype html
html(lang=fr)
    head
        title Le #{nomCommun}
        meta(charset="UTF-8")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
    body(class="ui container")
        div(class="ui segment")
            img(class="ui left floated image" src=image)
            h1 #{nomCommun}
            h4 #{type}
            p #{description}
            table(class= "ui definition collapsing table" )
                tbody
                    tr
                        td Période
                        td #{periode}
                    tr
                        td Poid
                        td #{poids}
                    tr
                        td Longueur
                        td #{longueur}


